<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="demo" class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Finder Tree</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../dist/finder-tree.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="demo.css">
</head>

<body ng-controller="DemoCtrl as demo">

	<div data-ng-cloak class="content">

		<h2>Raw Finder-Tree</h2>

		<p>Selected: {{demo.testSelect.name}}</p>
		<p>Path: {{demo.testSelect.path}}</p>

		<finder-tree data="demo.hardDrive" ng-model="demo.testSelect" style="height: 200px;font-size: large;"></finder-tree>

		<h2>Templated Finder-Tree</h2>

		<div class="panel panel-default" data-ng-init="demo.selectedFolder = demo.listFolder[0]">
			<div class="panel-heading">
				<strong>{{demo.testSelect.path.slice(-1)[0] || demo.selectedFolder.name}}</strong>
			</div>
			<div class="panel-body">

				<div class="ft-firstRow">
					<ul class="list-group">
						<li class="list-group-item" data-ng-repeat="folder in demo.listFolder" data-ng-class="{ 'active': folder.active }" data-ng-click="demo.selectFolder(folder)">
							<img data-ng-src="{{folder.img}}" width="20" height="20" /> {{folder.name}}
						</li>
					</ul>
				</div>

				<finder-tree data="demo.selectedFolder.structure" ng-model="demo.testSelect" style="height: 300px;"></finder-tree>
				<div class="ft-footer">
					<span class="ft_breadcrumb" data-ng-click="demo.testSelect.path = []">
						<img data-ng-src="{{demo.selectedFolder.img}}" /> {{demo.selectedFolder.name}}
						<i class="mac_caret_right" data-ng-if="demo.testSelect.path.length > 0 || demo.testSelect.name"></i>
					</span>
					<span data-ng-repeat="item in demo.testSelect.path track by $index" data-ng-click="demo.breadcrumbMove($index)" class="ft_breadcrumb">
						<i class="ft_folder"></i>{{item}} <i class="mac_caret_right" data-ng-if="!$last || demo.testSelect.name"></i>
					</span>
					<span ng-if="demo.testSelect.name">
						<i class="ft_file"></i>{{demo.testSelect.name}}
					</span>
				</div>
			</div>
			<div class="panel-footer">
				{{demo.testSelect.itemNumber}} items
			</div>
		</div>

	</div>

	<!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
	<script src="../bower/angular/angular.js"></script>
	<script src="demo.js"></script>
	<script src="../dist/finder-tree.js"></script>
</body>

</html>